
body, .remark-slide-content { font-family: 'Lato'; color:#222;font-size:30pt !important; line-height:160%}

h1, h2, h3 {
    font-family: 'Roboto';
    font-weight:100;
    margin-top:0em;
    margin-bottom:0.3em;
    x-font-weight:bold;
    line-height:110%;
}

h1 {
    font-size:58pt !important;
    text-align:center;
}

h2 {
    font-size: 43pt !important;
}

h3 {
    font-size: 35pt !important;
}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro'; font-size:21pt !important; line-height:140%}

.smallcode .remark-code { font-size:20pt !important; }

.tinycode .remark-code { font-size:18pt !important; }

.noheader pre, .noheader p { margin-top: 0em; }

.nudgeup .remark-code {
    margin-top:-1em;
}

li {
    line-height:160%;
}


li p {
    margin:0px;
}


ul ul {
    margin-bottom:15px;
}

.remark-slide-content {
    padding: 1em 2em 1em 2em !important;
}

.remark-slide-content::after{
    content:url('logos/overwolf-icon.png'); /* with class ModalCarrot ??*/
    position:absolute; /*or absolute*/
    z-index:100000; /*a number that's more than the modal box*/
    left:-1.5rem;
    top:-1.5rem;
    transform: scale(.5);
}


.remark-notes-area {
    font-size:60% !important;
    line-height:100% !important;
    font-family: Helvetica;
}

.remark-notes-area li {
    line-height:135% !important;
    margin-bottom:10px;
}

.remark-notes-current-area {
    min-height:475px !important;
}

.remark-notes-current-area .remark-notes {
    top:0px !important;
    padding-top:0px !important;
}

.remark-notes-current-area .remark-toggle {
    display:none !important;
}

.remark-slide-container img {
    display:none;
}

.remark-slide-container.remark-visible img {
    display:inline-block;
}

.reference {
    position:absolute;
    bottom:-20px;
    left:5px;
    font-size:10px;
    color:#777;
}

.summary-slide .reference, .content-even .reference {
    color:#ddd;
}

.smallish {
    font-size:95%;
}

.small {
    font-size:80%;
}

.xsmall {
    font-size:50%;
}

.highres img {
    zoom:50%;
}

.content-odd .highres img, .content-even .highres img {
    max-height:1000px;
}

.bottomright {
    position: absolute;
    bottom:10%;
    right:5%;
}

.coverimg img {
	width:99%;
}