
.section-title-a {
    background-color: #FAC73A;
}

.section-title-b {
    background-color: #B6C3A3;
}

.section-title-c {
    background-color: #DD6D6C;
    color: #FFF;
}

.content-odd {
    background-color: #E6E6E6;
}

.content-even {
    background-color: #3b778b;
    color: #FFF;
}

.summary-slide {
    background-color: #292F33;
    color: #FFF;
}

.centralimg img {
    min-width:40%;
    max-width:90%;
    max-height:430px;
}

.halfhalf h1, .halfhalf h2, .halfhalf .withtitle {
    display:block;
    width:50%;
    float:left;
    clear:left;
}

.halfhalf  {

    background-size: contain;
    background-repeat:no-repeat;
    background-position:right;
}

.halfhalf.reverse {
    background-position:left;
}

.halfhalf.reverse h1, .halfhalf.reverse h2, .halfhalf.reverse .withtitle {
    float:right;
    clear:right;
}

.vanity-cover {
 background-size: contain;   
}

.bigcentralimg img {
    min-width:60%;
    max-width:90%;
    max-height:430px;
}

.content-even img, .content-odd img {
    max-height:500px;
}


.halfhalf img {
    max-width:48%;
}

.noheader img {
    max-height:590px;
}